[package]
name = "jsonrpsee-proc-macros"
description = "Procedueral macros for jsonrpsee"
version = "0.2.0-alpha.4"
authors = ["Parity Technologies <admin@parity.io>", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
license = "MIT"
edition = "2018"

[lib]
proc-macro = true

[dependencies]
jsonrpsee-types = { version = "0.2.0-alpha.4", path = "../types" }
Inflector = "0.11.4"
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "1.0", features = ["full", "extra-traits", "parsing", "printing", "proc-macro", "visit"] }
proc-macro-crate = "1"
