[package]
name = "jsonrpsee"
description = "JSON-RPC crate"
version = "2.0.0"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>"]
license = "MIT"
edition = "2018"

[dependencies]
async-std = { version = "1.6.5", features = ["attributes"] }
bs58 = "0.3.1"
fnv = "1.0.7"
futures = "0.3.5"
globset = "0.4.5"
hashbrown = "0.9.1"
lazy_static = "1.4.0"
log = "0.4.11"
parking_lot = "0.11.0"
pin-project = "0.4.24"
jsonrpsee-proc-macros = { path = "proc-macros" }
rand = "0.7.3"
serde = { version = "1.0.116", default-features = false, features = ["derive"] }
serde_json = "1.0.58"
smallvec = { version = "1.4.2", default-features = false }
thiserror = "1.0.20"

# used for tests and HTTP/hyper
# the features are used only for tests but enabled because `dev-depedencies` are leaked into dependencies.
tokio = { version = "0.2.22", features = ["dns", "stream", "tcp", "rt-threaded", "macros"], optional = true }

# HTTP-related dependencies
hyper = { version = "0.13.8", features = ["stream"], optional = true }
unicase = { version = "2.6.0", optional = true }

# WS-related dependencies
async-tls = { version = "0.10.0", optional = true }
bytes = { version = "0.5.6", optional = true }
soketto = { version = "0.4.2", optional = true }
url = { version = "2.1.1", optional = true }
webpki = { version = "0.21.3", optional = true }

[features]
default = ["http", "ws"]
http = ["hyper", "tokio", "unicase"]
ws = ["async-tls", "bytes", "soketto", "url", "webpki"]

[dev-dependencies]
env_logger = "0.7.1"
tokio-util = { version = "0.3", features = ["compat"] }
