[package]
name = "jsonrpsee"
description = "JSON-RPC crate"
version = "1.0.0"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>"]
license = "MIT"
edition = "2018"

[workspace]
members = [
    "core",
    "http",
    "proc-macros",
    "server-utils",
    "ws",
]

[dependencies]
async-std = "0.99.11"
futures-preview = "0.3.0-alpha.19"
parking_lot = "0.9"
jsonrpsee-core = { path = "core" }
jsonrpsee-http = { path = "http", optional = true }
jsonrpsee-proc-macros = { path = "proc-macros" }
jsonrpsee-ws = { path = "ws", optional = true }
thiserror = "1.0.6"

[features]
default = ["http", "ws"]
http = ["jsonrpsee-http"]
ws = ["jsonrpsee-ws"]
