[package]
name = "jsonrpsee-types"
version = "0.4.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Shared types for jsonrpsee"
edition = "2018"
license = "MIT"
repository = "https://github.com/paritytech/jsonrpsee"
homepage = "https://github.com/paritytech/jsonrpsee"
documentation = "https://docs.rs/jsonrpsee-types"

[dependencies]
async-trait = "0.1"
anyhow = "1"
beef = { version = "0.5.1", features = ["impl_serde"] }
futures-channel = { version = "0.3.14", features = ["sink"] }
futures-util = { version = "0.3.14", default-features = false, features = ["std", "sink", "channel"] }
log = { version = "0.4", default-features = false }
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = { version = "1", default-features = false, features = ["alloc", "raw_value", "std"] }
thiserror = "1.0"
soketto = "0.7"
hyper = "0.14.10"
