[package]
name = "jsonrpsee-types"
version = "0.2.0-alpha.2"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Shared types for jsonrpsee"
edition = "2018"
license = "MIT"

[dependencies]
async-trait = "0.1"
anyhow = "1"
# TODO: revisit whether to use `futures::channel` or `tokio::channel` here.
tokio = { version = "1", features = ["sync"] }
beef = "0.5"
rustc-hash = "1"
futures = "0.3"
log = "0.4"
thiserror = "1.0"
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
smallvec = "1.0"
