[package]
name = "jsonrpsee"
description = "JSON-RPC crate"
version = "0.5.1"
authors = ["Parity Technologies <admin@parity.io>", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
license = "MIT"
edition = "2018"
repository = "https://github.com/paritytech/jsonrpsee"
homepage = "https://github.com/paritytech/jsonrpsee"
documentation = "https://docs.rs/jsonrpsee"

[dependencies]
# No support for namespaced features yet so workspace dependencies are prefixed with `jsonrpsee-`.
# See https://github.com/rust-lang/cargo/issues/5565 for more details.
jsonrpsee-http-client = { path = "../client/http-client", version = "0.5.1", package = "jsonrpsee-http-client", optional = true }
jsonrpsee-ws-client = { path = "../client/ws-client", version = "0.5.1", package = "jsonrpsee-ws-client", optional = true }
jsonrpsee-core-client = { path = "../client/core-client", version = "0.5.1", package = "jsonrpsee-core-client", optional = true }
jsonrpsee-client-transport = { path = "../client/transport", version = "0.5.1", package = "jsonrpsee-client-transport", optional = true }
jsonrpsee-http-server = { path = "../http-server", version = "0.5.1", package = "jsonrpsee-http-server", optional = true }
jsonrpsee-ws-server = { path = "../ws-server", version = "0.5.1", package = "jsonrpsee-ws-server", optional = true }
jsonrpsee-proc-macros = { path = "../proc-macros", version = "0.5.1", package = "jsonrpsee-proc-macros", optional = true }
jsonrpsee-utils = { path = "../utils", version = "0.5.1", package = "jsonrpsee-utils", optional = true }
jsonrpsee-types = { path = "../types", version = "0.5.1", package = "jsonrpsee-types", optional = true }

[features]
http-client = ["jsonrpsee-http-client", "jsonrpsee-types", "jsonrpsee-utils/client"]
http-server = ["jsonrpsee-http-server", "jsonrpsee-types", "jsonrpsee-utils"]
core-client = ["jsonrpsee-core-client", "jsonrpsee-types"]
ws-client = ["jsonrpsee-ws-client", "jsonrpsee-types", "jsonrpsee-utils/client"]
ws-server = ["jsonrpsee-ws-server", "jsonrpsee-types", "jsonrpsee-utils"]
macros = ["jsonrpsee-proc-macros", "jsonrpsee-types"]

client = ["http-client", "ws-client", "core-client", "jsonrpsee-client-transport/ws"]
server = ["http-server", "ws-server"]
full = ["client", "server", "macros"]
