[package]
name = "jsonrpsee-test-utils"
version = "0.16.2"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
futures-channel = "0.3.14"
futures-util = "0.3.14"
hyper = { version = "0.14.10", features = ["full"] }
tracing = "0.1.34"
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = "1"
soketto = { version = "0.7.1", features = ["http"] }
tokio = { version = "1.16", features = ["net", "rt-multi-thread", "macros", "time"] }
tokio-util = { version = "0.7", features = ["compat"] }
