[package]
name = "jsonrpsee-test-utils"
version = "0.2.0-alpha.4"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-std = "1.9"
futures-channel = "0.3"
futures-util = "0.3"
hyper = { version = "0.14", features = ["full"] }
log = "0.4"
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = "1"
soketto = "0.4"
tokio = { version = "1", features = ["net", "rt-multi-thread", "macros", "time"] }
tokio-util = { version = "0.6", features = ["compat"] }
