[package]
name = "jsonrpsee-ws-client"
version = "0.4.1"
authors = ["Parity Technologies <admin@parity.io>", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "WebSocket client for JSON-RPC"
edition = "2018"
license = "MIT"
repository = "https://github.com/paritytech/jsonrpsee"
homepage = "https://github.com/paritytech/jsonrpsee"
documentation = "https://docs.rs/jsonrpsee-ws-client"

[dependencies]
tokio = { version = "1", features = ["net", "time", "rt-multi-thread", "macros"] }
tokio-rustls = "0.23"
tokio-util = { version = "0.6", features = ["compat"] }

arrayvec = "0.7.1"
async-trait = "0.1"
fnv = "1"
futures = { version = "0.3.14", default-features = false, features = ["std"] }
http = "0.2"
jsonrpsee-types = { path = "../types", version = "0.4.1" }
tracing = "0.1"
pin-project = "1"
rustls-native-certs = "0.5.0"
serde = "1"
serde_json = "1"
soketto = "0.7"
thiserror = "1"

[dev-dependencies]
jsonrpsee-test-utils = { path = "../test-utils" }
jsonrpsee-utils = { path = "../utils" }
env_logger = "0.9"
