[package]
name = "jsonrpsee-ws-client"
version = "0.3.0"
authors = ["Parity Technologies <admin@parity.io>", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "WebSocket client for JSON-RPC"
edition = "2018"
license = "MIT"
repository = "https://github.com/paritytech/jsonrpsee"
homepage = "https://github.com/paritytech/jsonrpsee"
documentation = "https://docs.rs/jsonrpsee-ws-client"

[dependencies]
tokio = { version = "1", features = ["net", "time", "rt-multi-thread", "macros"] }
tokio-rustls = "0.22"
tokio-util = { version = "0.6", features = ["compat"] }

async-trait = "0.1"
fnv = "1"
futures = { version = "0.3.14", default-features = false, features = ["std"] }
jsonrpsee-types = { path = "../types", version = "0.3.0" }
log = "0.4"
serde = "1"
serde_json = "1"
soketto = "0.6"
pin-project = "1"
thiserror = "1"
url = "2"
rustls-native-certs = "0.5.0"

[dev-dependencies]
jsonrpsee-test-utils = { path = "../test-utils" }
