[package]
name = "jsonrpsee-core"
version = "0.13.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Utilities for jsonrpsee"
edition = "2021"
license = "MIT"

[dependencies]
anyhow = "1"
async-trait = "0.1"
beef = { version = "0.5.1", features = ["impl_serde"] }
futures-channel = "0.3.14"
jsonrpsee-types = { path = "../types", version = "0.13.0" }
thiserror = "1"
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }

# optional deps
arrayvec = { version = "0.7.1", optional = true }
async-channel = { version = "1.6", optional = true }
async-lock = { version = "2.4", optional = true }
futures-util = { version = "0.3.14", default-features = false, optional = true }
hyper = { version = "0.14.10", default-features = false, features = ["stream"], optional = true }
tracing = { version = "0.1", optional = true }
rustc-hash = { version = "1", optional = true }
rand = { version = "0.8", optional = true }
soketto = { version = "0.7.1", optional = true }
parking_lot = { version = "0.12", optional = true }
tokio = { version = "1.16", optional = true }
wasm-bindgen-futures = { version = "0.4.19", optional = true }
futures-timer = { version = "3", optional = true }
globset = { version = "0.4", optional = true }
lazy_static = { version = "1", optional = true }
unicase = { version = "2.6.0", optional = true }

[features]
default = []
http-helpers = ["hyper", "futures-util"]
server = [
	"arrayvec",
	"futures-util/alloc",
	"globset",
	"rustc-hash/std",
	"tracing",
	"parking_lot",
	"rand",
	"tokio/rt",
	"tokio/sync",
	"lazy_static",
	"unicase"
]
client = ["futures-util/sink", "futures-channel/sink", "futures-channel/std"]
async-client = [
	"async-lock",
	"client",
	"rustc-hash",
	"tokio/macros",
	"tokio/rt",
	"tokio/sync",
	"tracing",
	"futures-timer",
]
async-wasm-client = [
	"async-lock",
	"client",
	"wasm-bindgen-futures",
	"rustc-hash/std",
	"futures-timer/wasm-bindgen",
	"tracing",
]

[dev-dependencies]
serde_json = "1.0"
tokio = { version = "1.16", features = ["macros", "rt"] }
jsonrpsee = { path = "../jsonrpsee", features = ["server", "macros"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.playground]
all-features = true
