[package]
name = "jsonrpsee-core"
version = "0.9.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Utilities for jsonrpsee"
edition = "2021"
license = "MIT"

[dependencies]
anyhow = "1"
arrayvec = "0.7.1"
async-trait = "0.1"
beef = { version = "0.5.1", features = ["impl_serde"] }
thiserror = "1"
futures-channel = { version = "0.3.14", default-features = false }
futures-util = { version = "0.3.14", default-features = false, optional = true }
hyper = { version = "0.14.10", default-features = false, features = ["stream"] }
jsonrpsee-types = { path = "../types", version = "0.9.0"}
tracing = { version = "0.1", optional = true }
tracing-futures = { version = "0.2", optional = true }
rustc-hash = { version = "1", optional = true }
rand = { version = "0.8", optional = true }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = { version = "1", features = ["raw_value"] }
soketto = "0.7.1"
parking_lot = { version = "0.12", optional = true }
tokio = { version = "1.8", optional = true }

[features]
default = []
http-helpers = ["futures-util"]
server = [
	"futures-util",
	"rustc-hash",
	"tracing",
	"parking_lot",
	"rand",
	"tokio/rt",
	"tokio/sync",
]
client = ["futures-util"]
async-client = [
	"client",
	"rustc-hash",
	"tokio/macros",
	"tokio/rt",
	"tokio/sync",
	"tokio/time",
	"tracing",
	"tracing-futures"
]

[dev-dependencies]
serde_json = "1.0"
tokio = { version = "1.8", features = ["macros", "rt"] }
jsonrpsee = { path = "../jsonrpsee", features = ["server", "macros"] }
