[package]
name = "jsonrpsee-http-server"
version = "0.2.0-alpha.5"
authors = ["Parity Technologies <admin@parity.io>", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "HTTP server for JSON-RPC"
edition = "2018"
license = "MIT"

[dependencies]
anyhow = "1"
hyper = { version = "0.14", features = ["server", "http1", "http2"] }
futures = { version = "0.3", default-features = false }
jsonrpsee-types = { path = "../types", version = "0.2.0-alpha.5" }
jsonrpsee-utils = { path = "../utils", version = "0.2.0-alpha.5", features = ["server"] }
globset = "0.4"
lazy_static = "1.4"
log = "0.4"
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = "1"
socket2 = "0.4"
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
unicase = "2.6.0"

[dev-dependencies]
env_logger = "0.8"
jsonrpsee-test-utils = { path = "../test-utils" }
jsonrpsee-http-client = { path = "../http-client" }
