[package]
name = "jsonrpsee-examples"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Examples for jsonrpsee"
edition = "2018"
publish = false

[dev-dependencies]
anyhow = "1"
env_logger = "0.8"
jsonrpsee = { path = "../jsonrpsee", features = ["full"] }
log = "0.4"
tokio = { version = "1", features = ["full"] }

[[example]]
name = "http"
path = "http.rs"

[[example]]
name = "ws"
path = "ws.rs"

[[example]]
name = "ws_subscription"
path = "ws_subscription.rs"

[[example]]
name = "ws_sub_with_params"
path = "ws_sub_with_params.rs"

[[example]]
name = "proc_macro"
path = "proc_macro.rs"
