[package]
name = "jsonrpsee-ws-server"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "WebSocket server for JSON-RPC"
edition = "2018"
license = "MIT"

[dependencies]
async-std = { version = "1.8.0", features = ["attributes"] }
bs58 = "0.4"
fnv = "1"
futures = "0.3"
jsonrpsee-types = { path = "../types", version = "0.1" }
log = "0.4"
parking_lot = "0.11"
rand = "0.8"
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = "1"
soketto = "0.4"
thiserror = "1"

[dev-dependencies]
jsonrpsee-test-utils = { path = "../test-utils" }
jsonrpsee-client = { path = "../client" }
tokio = { version = "1", features = ["full"] }
