[package]
name = "jsonrpsee-utils"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Utilities for jsonrpsee"
edition = "2018"
license = "MIT"

[dependencies]
futures = "0.3"
globset = "0.4"
hyper13 = { package = "hyper", version = "0.13", default-features = false, features = ["stream"], optional = true }
hyper14 = { package = "hyper", version = "0.14", default-features = false, features = ["stream"], optional = true }
jsonrpsee-types = { path = "../types", version = "0.1" }
lazy_static = "1.4"
log = "0.4"
unicase = "2.6"

[features]
default = ["hyper14"]

[dev-dependencies]
serde_json = "1.0"
tokio = { version = "1.0", features = ["macros"] }
