[package]
name = "jsonrpsee-benchmarks"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Benchmarks for jsonrpsee"
edition = "2018"
license = "MIT"
publish = false

[dev-dependencies]
criterion = "0.3"
futures = "0.3"
jsonrpsee = { path = "../jsonrpsee", features = ["full"] }
num_cpus = "1"
serde_json = "1"
tokio = { version = "1", features = ["full"] }

[[bench]]
name = "bench"
path = "bench.rs"
harness = false
