[package]
name = "jsonrpsee-benchmarks"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
description = "Benchmarks for jsonrpsee"
edition = "2018"
license = "MIT"

[lib]
bench = false

[dev-dependencies]
async-std = "1.8"
criterion = "0.3"
futures = "0.3"
jsonrpsee-types = { path = "../types" }
jsonrpsee-client = { path = "../client" }
jsonrpsee-ws-server = { path = "../ws-server" }
jsonrpsee-http-server = { path = "../http-server" }
num_cpus = "1"
tokio = { version = "1", features = ["full"] }

[[bench]]
name = "bench"
harness = false
