name: Benchmarks

on:
  schedule:
    - cron: "0 5 * * 6" # Every Saturday at 5:00 UTC
  push:
    branches:
      - master

jobs:
  bench:
    name: Benchmarks
    runs-on: parity-benchmark
    container:
      image: "paritytech/ci-unified:bullseye-1.75.0-2024-01-22-v20240109"
    steps:
      - name: Checkout Sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Rust Cache
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8

      - name: run benchmarks
        run: cargo bench -p jsonrpsee-benchmarks -- --output-format bencher | tee output.txt

      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@d48d326b4ca9ba73ca0cd0d59f108f9e02a381c7 # v1.20.4
        with:
          tool: "cargo"
          output-file-path: "output.txt"
          benchmark-data-dir-path: "bench/dev2"
          fail-on-alert: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-on-alert: true
          auto-push: true
